@page "/counter"
@inject HttpClient Http

<h1>Search</h1>

@if (regions == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <select>
            <option value="">All</option>
            @foreach (var region in regions)
            {
                <option value=@region.country>@region.name</option>
            }
    </select>
}

@code {
    private Countries[] regions;

    protected override async Task OnInitializedAsync()
    {
        regions = await Http.GetFromJsonAsync<Countries[]>("https://api.watchmode.com/v1/regions/?apiKey=vMCQ0i6AkMxAo5afgFFjxSZVpAbpM6oiPNprmEZl");
    }

    public class Countries
    {
        public string country { get; set; }
        public string name { get; set; }
        public string flag { get; set; }
    }
}
