@page "/search"
@inject HttpClient Http

<h1>Search</h1>

@if (regions == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <select>
            <option value="">All</option>
            @foreach (var region in regions)
            {
                <option value=@region.country>@region.name</option>
            }
    </select>

    /*Genre*/
    /*Release Year*/
    /*Critic Score*/
    /*User Rating*/
    /*Type*/
    /*US Rating*/
    /*Run Time*/

    /*Main Profession*/                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             
}

@code {
    private Countries[] regions;

    protected override async Task OnInitializedAsync()
    {
        regions = await Http.GetFromJsonAsync<Countries[]>("https://api.watchmode.com/v1/regions/?apiKey=vMCQ0i6AkMxAo5afgFFjxSZVpAbpM6oiPNprmEZl");
    }

    public class Countries
    {
        public string country { get; set; }
        public string name { get; set; }
        public string flag { get; set; }
    }


        /*
    <select @onchange="setGenre">
        <option value="@int.MaxValue">All</option>
        @foreach (var genre in genres)
        {
            <option value=@genre.id>@genre.name</option>
        }
    </select>
    genres = await Http.GetFromJsonAsync<Genres[]>("https://api.watchmode.com/v1/genres/?apiKey=vMCQ0i6AkMxAo5afgFFjxSZVpAbpM6oiPNprmEZl");
    private Genres[] genres;
    private int genre = int.MaxValue;
    public void setGenre(ChangeEventArgs e)
    {
        genre = Int32.Parse(e.Value.ToString());
    }
    public class Genres
    {
        public int id { get; set; }
        public string name { get; set; }
        public int? tmdb_id { get; set; }
    }*/
}
