@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <p>Sean O Riordain x00154002 CA3 EAD</p>
            <a href="https://github.com/sean-o-riordain/EAD-CA3_movies" target="_blank" class="ml-md-auto">Github</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
